/ app/views/homepage/index.html.haml
%div.container.mt-5.text-center
  %h1.display-4.text-dark Welcome to Heyy!
  %div.mt-4
    = link_to 'Register', '#', class: 'btn btn-primary me-3'
    = link_to 'Login', '#', class: 'btn btn-secondary'
